<style>

</style>

<main class="main">
  <div class="content">
    <h1>Eetu Hyytiäinen</h1>
    <!--
    <div class="social-links">
      <a href="https://github.com/Sabishi2/">
        <img src="github-svgrepo-com.svg" />
      </a>
      <a href="https://linkedin.com/in/eetu-hyytiainen">
        <img src="linkedin-svgrepo-com.svg" />
      </a>
    </div>
    -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, culpa provident necessitatibus neque nisi,
      fuga ratione dolorem doloribus, numquam fugit atque. Repudiandae neque consectetur blanditiis dolorem,
      repellendus autem perspiciatis quasi?</p>
    <div class="divider-horizontal shiny" role="separator" aria-label="Divider"></div>

    <section-navigation>
      @for (section of sectionsList; track section; let idx = $index;) {
      <nav-button (click)="navigateClicked(idx)">{{section}}</nav-button>
      }
    </section-navigation>


    <div class="projects-container section" [class]="getSectionClass(0)">

      <pi-carousel-holder-component [projects]=projects
        (clickedItem)="projectClicked($event)"></pi-carousel-holder-component>

      <div class="divider-horizontal" role="separator" aria-label="Divider"></div>

      @for (project of projects; track project.id) {
      <project-page [project]=project [class]="{'display-none': project.id!=highlightedProject}"></project-page>
      }

    </div>

    <div class="projects-container section" [class]="getSectionClass(1)">

      <pi-carousel-holder-component [projects]=projects
        (clickedItem)="projectClicked($event)"></pi-carousel-holder-component>

      <div class="divider-horizontal" role="separator" aria-label="Divider"></div>

      @for (project of projects; track project.id) {
      <project-page [project]=project [class]="{'display-none': project.id!=highlightedProject}"></project-page>
      }

    </div>

  </div>
</main>


<router-outlet />