@if(project().public) {
<div class="project-page" id="project-page-{{project().id}}">
    <h1 style="margin-bottom: 0;">{{project().name}}</h1>
    @if (!isUndefined(project().technologiesUsed)) {
    <span class="techonologies-used">{{project().technologiesUsed?.join(", ")}}</span>
    }
    @if (!isUndefined(project().screenshotFolder)) {
    <pp-carousel-holder-component [screenshotFolder]="project().screenshotFolder??''"
        [screenshotFilenames]="project().screenshotFilenames??[]"></pp-carousel-holder-component>
    }

    <project-description [descriptionText]="project().longDescription"></project-description>

    <p class="link-to-project"
        [innerHTML]="parseLinkText(project().linkText??'See the project [here]', project().linkToProject)">
    </p>

    @if(!isUndefined(project().alternateLinkToProject)) {
    <p class="link-to-project"
        [innerHTML]="parseLinkText(project().alternateLinkText??'See the project [here]', project().alternateLinkToProject??'')">
    </p>
    }

    @if(!isUndefined(project().demoYouTubeId)) {
    <youtube-player [videoId]="project().demoYouTubeId" loadApi="false"></youtube-player>

    }

</div>
}