@if(project().public) {
<div class="project-page" id="project-page-{{project().id}}">
    <h1 style="margin-bottom: 0;">{{project().name}}</h1>
    @if (!isUndefined(project().technologiesUsed)) {
    <span class="techonologies-used">{{project().technologiesUsed?.join(", ")}}</span>
    }
    @if (!isUndefined(project().screenshotFolder)) {
    <pp-carousel-holder-component></pp-carousel-holder-component>
    }
    <p>{{project().longDescription}}</p>

    <p class="link-to-project"
        [innerHTML]="parseLinkText(project().linkText??'See the project [here]', project().linkToProject)">
    </p>

    @if(!isUndefined(project().alternateLinkToProject)) {
    <p class="link-to-project"
        [innerHTML]="parseLinkText(project().alternateLinkText??'See the project [here]', project().alternateLinkToProject??'')">
    </p>
    }

    @if(!isUndefined(project().demoYouTubeLink)) {
    <iframe width="560" height="315" [src]="sanitizedURLs.get(project().id)" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    }

</div>
}