@use "sass:math";

img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
}

p {
    color: white;
}

.text {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

.project-icon {
    position: relative;
    width: min(450px, 100%);
    padding-top: calc(min(450px, 100%) * (2/3));
    height: 0;
}

.name-title {
    text-decoration: underline;
}

.project-icon:hover {
    .text {
        display: block;
    }

    cursor:pointer;
}